{% extends 'base.html' %}

{% block head %}
<title>Climate Match</title>
<link href="../static/css/mainpage.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="navbar" class="space-evenly">
  <span>
  <a href="/">Forum</a>
  <a href="/aboutus">About Us</a>
  <a href="/faq">FAQ</a>
  </span>
  <span id="rightSide">
    <button id="login">Login</button>
  </span>
</div>

<div>
  <div class="column">
  <h1>Challenge what you know.</h1>
  <div id="graytext">A web app that matches you with climate change <br>
  experts to answer your questions.</div>
  <button id="account">Create a FREE account</button>
  </div>
  <div class="column">
  <span id="rightSide">
  <img src="../static/logo.png" width=463 height=339></img>
  </span>
  </div>
</div>
{% endblock %}
