{% extends 'base.html' %}

{% block head %}
<title>Climate Match</title>
{% endblock %}

{% block body %}
<div id="navbar" class="space-evenly">
  <a href="/">Forum</a>
  <a href="/aboutus">About Us</a>
  <a href="/faq">FAQ</a>
  <span>
    <button id="login">Login</button>
  </span>
</div>

<div class="content">
  <h1>Challenge what you know.</h1>
  <div id="graytext">A web app that matches you with climate change <br>
  experts to answer your questions.</div>
  <button>Create a FREE account</button>
  <img src="../static/logo.png"></img>
</div>
{% endblock %}
